<div class="hero-foot has-text-centered">
    <div class="has-background-info-dark py-2 is-hidden-mobile">
        <p class="title is-6">
            Created with ❤️ by
            <a href="https://www.github.com/roeintheglasses">Hrishi Jangir</a> | Illustrations by
            <a href="https://iconscout.com/contributors/delesign/illustrations">Delesign</a>
        </p>
    </div>
    <div class="has-background-info-dark py-2 is-hidden-tablet">
        <p class="title is-6 mb-0">
            Created with ❤️ by
            <a href="https://www.github.com/roeintheglasses">Hrishi Jangir</a>
        </p>
        <p class="title is-6 ">
            Illustrations by
            <a href="https://iconscout.com/contributors/delesign/illustrations">Delesign</a>
        </p>
    </div>
</div>