<div class="hero-head">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title">
                        <i class="fas fa-headphones"></i>
                    </h1>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                    <span></span>
                <span></span>
                <span></span>
                </span>
            </div>

            <div id="navbarMenuHeroA" class="navbar-menu has-text-centered">
                <div class="navbar-end">
                    <span class="navbar-item">
                        <a href="/" class="button is-info is-outlined is-inverted is-fullwidth">
                            Home
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a href="/music" class="button is-info is-outlined is-inverted is-fullwidth">
                            Music
                        </a>
                    </span>

                    <span class="navbar-item">
                        <a href="/Videos" class="button is-info is-outlined is-inverted is-fullwidth">
                            Youtube Videos
                        </a>
                    </span>
                    <!-- <a class="navbar-item">
                            About
                        </a> -->
                    <span class="navbar-item">
                        <a class="button is-info is-outlined is-inverted is-fullwidth"
                            href="https://github.com/roeintheglasses/apollo">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                    <span>Star Me</span>
                    </a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>