<section>
    <div class="hero is-danger is-bold is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <h1 class="title">
                                <i class="fas fa-headphones"></i>
                            </h1>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>

                    <div id="navbarMenuHeroA" class="navbar-menu has-text-centered">
                        <div class="navbar-end">
                            <!-- <a class="navbar-item">
                                    About
                                </a> -->
                            <span class="navbar-item">
                                <a class="button is-danger is-outlined is-inverted is-fullwidth"
                                    href="https://github.com/roeintheglasses/humanity">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                            <span>Star Me</span>
                            </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- Main Page -->
                <div>
                    <img src="/assets/not-found.png" width="1080" height="512" alt="music-girl" />
                </div>
                <p class="title is-1">404</p>
                <p class="subtitle is-3">Page not found!</p>
                <a class="button is-warning has-text-weight-bold" href="/">Return to Homepage</a>
                <!--/ Main Page -->
            </div>
        </div>
        <div class="hero-foot has-text-centered">
            <div class="has-background-black">
                <p class="has-text-white">
                    Created with ❤️ by <a href="https://www.github.com/roeintheglasses">Hrishi Jangir</a>
                </p>
                <p class="has-text-white">
                    Illustrations by <a href="https://iconscout.com/contributors/delesign/illustrations">Delesign</a>
                </p>
            </div>
        </div>
    </div>
</section>