<section>
    <div class="hero is-info is-bold is-fullheight">
        <!-- Hero head: will stick at the top -->
        <%- include ( 'partials/navbar') %>

            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <!-- Main Page -->
                    <div>
                        <img src="/assets/not-found.png" width="1080" height="512" alt="music-girl" />
                    </div>
                    <p class="title is-1">404</p>
                    <p class="subtitle is-3">Page not found!</p>
                    <a class="button is-warning has-text-weight-bold" href="/">Return to Homepage</a>
                    <!--/ Main Page -->
                </div>
            </div>
            <%- include ( 'partials/footer') %>

    </div>
</section>