<section>
    <div class="hero is-info is-bold is-fullheight">
        <!-- Hero head: will stick at the top -->
        <%- include ( 'partials/navbar') %>

            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container has-text-centered">
                    <!-- Main Page -->
                    <h1 class="title">
                        <i class="fas fa-headphones"></i> Apollo
                    </h1>
                    <h2 class="subtitle">
                        Download music and videos without bounds
                    </h2>
                    <br><br><br>
                    <div class="columns">
                        <div class="column is-4">
                            <a href="/music">
                                <figure class="image is-512x512">
                                    <img src="/assets/girl-music.png" alt="music-girl" />
                                </figure>
                                <span class="navbar-item">
                                <a href="/music" class="button is-info is-outlined is-inverted is-fullwidth">
                                    Download Music
                                </a>
                            </span>
                            </a>
                        </div>
                        <div class="column is-4"></div>
                        <div class="column is-4">
                            <a href="/videos">
                                <figure class="image is-512x512">
                                    <img src="/assets/girl-video.png" alt="music-girl" />
                                </figure>
                                <span class="navbar-item">
                                <a href="/music" class="button is-info is-outlined is-inverted is-fullwidth">
                                    Download Youtube Videos
                                </a>
                            </span>
                            </a>
                        </div>
                    </div>
                    <!--/ Main Page -->
                </div>
            </div>
            <%- include ( 'partials/footer') %>

    </div>
</section>