<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="title" content="Apollo — Download Music Without Bounds">
    <meta name="description" content="Apollo allows you to easily download your favourite songs without any hassle. ">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#ff846e" />
    <meta name="keywords" content="Music, Audio,download,Apollo, Apollomusic">
    <meta name="author" content="Hrishi Jangir">
    <title>Apollo — Download Music Without Bounds</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://apollomusic.ga/">
    <meta property="og:title" content="Apollo — Download Music Without Bounds">
    <meta property="og:description" content="Apollo allows you to easily download your favourite songs without any hassle. ">
    <meta property="og:image" content="/assets/APOLLO.gif">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://apollomusic.ga/">
    <meta property="twitter:title" content="Apollo — Download Music Without Bounds">
    <meta property="twitter:description" content="Apollo allows you to easily download your favourite songs without any hassle. ">
    <meta property="twitter:image" content="/assets/APOLLO.gif">

    <!-- CSS and JS -->
    <link rel=" stylesheet " href="/bulma/bulma.min.css " />
    <script src=" https://kit.fontawesome.com/fcfa154dc8.js " crossorigin=" anonymous "></script>
    <link rel=" stylesheet " href="/bulmaModal/css/modal-fx.min.css " />
    <link rel=" apple-touch-icon " sizes=" 180x180 " href="/assets/apple-touch-icon.png ">
    <link rel=" icon " type=" image/png " sizes=" 32x32 " href="/assets/favicon-32x32.png ">
    <link rel=" icon " type=" image/png " sizes=" 16x16 " href="/assets/favicon-16x16.png ">
    <link rel=" manifest " href="/assets/site.webmanifest ">

    <style>
        body::-webkit-scrollbar {
            width: 0 !important;
        }
        
        a {
            color: rgb(248, 229, 229);
        }
        
        a:hover {
            color: #ff846e;
        }
    </style>
</head>

<body>
    <%- body %>

        <script type=" text/javascript " src="/bulmaModal/js/modal-fx.min.js "></script>
</body>
<script src="/js/main.js "></script>

</html>