<section>
    <div class="hero is-info is-bold is-fullheight">
        <!-- Hero head: will stick at the top -->
        <%- include ( 'partials/navbar') %>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- Main Page -->
                <div class="columns">
                    <div class="column is-4">
                        <figure class="image is-512x512">
                            <img src="/assets/girl-video.png" alt="music-girl" />
                        </figure>
                    </div>
                    <div class="column is-1"></div>
                    <div class="column">
                        <br />
                        <h1 class="title"><i class="fas fa-headphones"></i> Apollo</h1>
                        <h2 class="subtitle">
                            Download music and videos without bounds
                        </h2>
                        <%- include ( 'partials/messages') %>
                        <form action="/download/video" method="POST" class="box">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="downloadInput" name="downloadVideoInput" type="text"
                                        placeholder="Enter Youtube URL here" class="input is-fullwidth" required />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-download"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-info is-fullwidth">
                                        Download
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="field">
                                <div class="columns">
                                    <div class="column">
                                        <div class="control">
                                            <a class="button is-fullwidth is-info"
                                                href="https://twitter.com/intent/tweet?text=https://apollomusic.ga&hashtags=apollomusic">
                                                <span class="icon is-small is-left">
                                                    <i class="fab fa-twitter"></i>
                                                </span>
                                                <span>
                                                    Tweet #ApolloMusic
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="control">
                                            <a class="button is-fullwidth is-info"
                                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapollomusic.ga%2F&amp;src=sdkpreparse">
                                                <span class="icon is-small is-left">
                                                    <i class="fab fa-facebook"></i>
                                                </span>
                                                <span>
                                                    Share on facebook!
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="columns">
                            <div class="column">
                                <a href="https://forms.gle/X28RvGdqhNfhfmah8"
                                    class="title button is-fullwidth is-info is-light is-6 has-text-dark">
                                    <span>
                                        Want a new feature ? Tell me here.
                                    </span>
                                </a>
                            </div>
                            <div class="column">
                                <a class="button is-fullwidth title is-6 has-text-dark" target="_blank"
                                    href="https://www.buymeacoffee.com/roeintheglasses">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-mug-hot"></i>
                                    </span>
                                    <span>Buy me a coffee</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-1"></div>
                </div>
                <!--/ Main Page -->
            </div>
        </div>
        <%- include ( 'partials/footer') %>
    </div>
</section>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        var progress = document.querySelector('progress'); // assuming you have only 1
        progress.classList.toggle('is-invisible');
        setTimeout(function () {
            progress.classList.toggle('is-invisible');
        }, 5000)
    });
</script>